/*
* @Author: pc
* @Date:   2017-07-31 12:45:48
* @Last Modified by:   UEK-2016
* @Last Modified time: 2017-10-17 14:19:59
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "微软雅黑"，"宋体"，sans-serif;
	list-style: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 404072 */
  src: url('http://at.alicdn.com/t/font_404072_jryi1agfpg44pldi.eot');
  src: url('http://at.alicdn.com/t/font_404072_jryi1agfpg44pldi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_404072_jryi1agfpg44pldi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_404072_jryi1agfpg44pldi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_404072_jryi1agfpg44pldi.svg#iconfont') format('svg');
}
.topbar{
	width: 100%;
	height: 50px;
	background: red;
	position: fixed;
	left: 0;
	top: -60px;
	transition:top .5s;
	z-index: 100;
}
.hj{
	width: 1230px;
	height: 50px;
	margin: 0 auto;
	/* background: blue; */
	z-index: 999;
}
.logo-img{
	width: 160px;
	height: 30px;
	float: left;
	margin-top: 10px;
}
.sosuo-box{
	width: 650px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
}
input{
	width: 648px;
	height: 30px;
	border: 0;
}
button{
	width: 90px;
	height: 32px;
	margin-top:9px;
	font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
	background: red;
	line-height: 32px;
	text-align: center;
	border: 0;
}
.left{
		width: 0;
		height: 0;
		position: fixed;
		bottom: 120px;
		left: calc(50% - 645px);
		/* background: green; */
		transition: all .5s;
		overflow: hidden;
	}
	.btn{
		width: 30px;
		height: 32px;
		background: grey;
		margin-top: 1px;
		color: #fff;
		font-size: 11px;
		text-align: center;
		cursor: pointer;
	}
	.btn:nth-child(1):hover{
		background: red;
	}
	.btn:nth-child(1).active{
		background: red;
	}
	.btn:nth-child(2):hover{
		background: green;
	}
	.btn:nth-child(2).active{
		background: green;
	}
	.btn:nth-child(3):hover{
		background: blue;
	}
	.btn:nth-child(3).active{
		background: blue;
	}
	.btn:nth-child(4):hover{
		background: purple;
	}
	.btn:nth-child(4).active{
		background: purple;
	}
	.btn:nth-child(5):hover{
		background: yellow;
	}
	.btn:nth-child(5).active{
		background: yellow;
	}
	.btn:nth-child(6):hover{
		background:orangered;
	}
	.btn:nth-child(6).active{
		background:orangered;
	}
	.btn:nth-child(7):hover{
		background:orange;
	}
	.btn:nth-child(7).active{
		background:orange;
	}
	.totop{
		width: 30px;
		height: 32px;
		background:  rgba(0,0,0,.3);
		margin-top: 1px;
		color:#fff;
		font-size: 13px;
		line-height: 32px;
		text-align: center;
		cursor: pointer;                                                                                                            
	}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.toubu{
	width: 100%;
	height: 33px;
	background: #F2F2F2;
	border-bottom: 1px solid #e5e5e5;
}
.toubu1{
	width: 1230px;
	height: 32px;
	/* background: red; */
	margin: 0 auto;
}
.toubu1-1{
	width: 218px;
	height: 32px;
	/* background: green; */
	float: left;
}
.toubu1-2{
	display: block;
	width: 84px;
	height: 16px;
	/* background: yellow; */
	float: left;
	margin-top: 8px;
	color: #9E9E9E;
	font-size: 12px;
	line-height: 16px;
}
.toubu1-3{
	display: block;
	width: 36px;
	height: 16px;
	/* background: yellow; */
	float: left;
	margin-top: 8px;
	margin-left: 20px;
	color: #9E9E9E;
	font-size: 12px;
	line-height: 16px;
}
.toubu1-3:hover{
	color: #FE3C59;
}
.toubu1-4:hover{
	color: #FE3C59;
}
.toubu1-4{
	display: block;
	width: 48px;
	height: 16px;
	/* background: yellow; */
	float: left;
	margin-top: 8px;
	margin-left: 20px;
	color: #9E9E9E;
	font-size: 12px;
	line-height: 16px;
}
.toubu2{
	width: 739px;
	height: 32px;
	/* background: yellow; */
	float: right;
	color: #9E9E9E;
	font-size: 12px;
	line-height: 16px;
}
.toubu2-1{
	width: 74px;
	height: 32px;
	background: #ffffff;
	float: left;
	text-align: center;
}
.toubu2-1:hover{
	background: white;
}
.iconxia{
	font-family: 'iconfont';
}
.toubu2-2{
	color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
}
.toubu2-1:hover .toubu2-2{
	color: #FE3C59;
}
.toubao2-3{
	width: 108px;
	height: 32px;
	/* background: blue; */
	float: left;
	margin-left: 10px;
}
.toubu2-4{
    color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
}
.toubu2-4:hover{
	color: #FE3C59;
}
.iconxin{
	font-family: 'iconfont';
	color: #FE3C59;
}
.toubu2-5{
	width: 95px;
	height: 33px;
	/* background: greenyellow; */
	float: left;
	margin-left: 10px;
}
.icongouwuche{
	font-family: 'iconfont';
	color: #FE3C59;
	font-size: 16px;
    line-height: 36px;
}
.toubu2-6{
	color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
}
.toubu2-6:hover{
	color: #FE3C59;
}
.toubu2-7{
	width: 62px;
	height: 33px;
	/* background: blue; */
	float: left;
	margin-left: 10px;
	text-align: center;
}
.toubu2-8{
	color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
}
.toubu2-7:hover{
	background: white;
}
.toubu2-7:hover .toubu2-8{
	color: #FE3C59;
}
.toubu3{
	width: 1px;
	height: 17px;
	border-left: 1px solid	#9E9E9E;
	float: left;
	margin-top: 9px;
	margin-left: 10px;
}
.toubu3-1{
	width: 72px;
	height: 33px;
	/* background: red; */
	float: left;
	margin-left: 10px;
}
.iconshouji{
	font-family: 'iconfont';
	font-size: 12px;
	color: #FF0036;
	line-height: 36px;
}
.toubu3-2{
	color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
}
.toubu3-2:hover{
	color: #FE3C59;
}
.toubu3-3{
	width: 36px;
	height: 32px;
	/* background: blue; */
	float: left;
	margin-left: 10px;
}
.toubu3-4{
	color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
}
.toubu3-4:hover{
	color: #FE3C59;
}
.toubu3-5{
	width: 36px;
	height: 32px;
	/* background: blue; */
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.toubu3-6{
	width: 90px;
	height: 32px;
	background: #ffffff;
	float: left;
	margin-left: 10px;
	text-align: center;
}
.toubu3-6:hover{
	background: white;
	color: #FF0036;
}
.iconshangpin{
	font-family: 'iconfont';
	font-size: 12px;
	color: #FF0036;
	line-height: 36px;
}
.toubu3-7{
	color: #9E9E9E;
	font-size: 12px;
	line-height: 36px;
}
.sousuo1{
	width: 1230px;
	height: 130px;
	/* background: red; */
	margin: 0 auto;
}
.sousuo2{
	width: 240px;
	height: 130px;
	float: left;
}
.sousuo2-1{
	width: 625px;
	height: 100px;
	/* background: grey; */
	float: left;
	margin-left: 60px;
}
.sousuo2-2{
	width: 625px;
	height: 40px;
	background: blue;
	margin-top: 28px;
}
.sousuo2-3{
	width: 491px;
	height: 38px;
    border: 1px solid #FF0036;
    float: left;
}
.sousuo2-4{
	width: 132px;
	height: 40px;
	background: red;
	float: left;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.sousuo2-5{
	width: 625px;
	height: 22px;
	/* background: blue; */
	margin-top: 4px;
}
.sousuo2-7{
	padding-right: 12px;
/* 	padding-left: 13px; */
	border-right: 1px solid #CCCCCC;
	color: red;
	float: left;
}
.sousuo2-6{
	color: red;
	font-size: 14px;
}
.sousuo3{
	color: #CCCCCC;
}
.sousuo2-8{
	padding-right: 12px;
	padding-left: 13px;
	border-right: 1px solid #CCCCCC;
	color: red;
	float: left;
}
.sousuo2-9{
	border-right: 0;
}
.daoheng{
	width: 100%;
	height: 36px;
	background: #FF0036;
}
.daoheng1{
	width: 1230px;
	height: 36px;
	/* background: blue; */
	margin: 0 auto;
}
.daoheng1-1{
	width: 200px;
	height: 36px;
	background: grey;
	float: left;
	background: #E22127;
}
.icondaoheng{
	font-family: 'iconfont';
	line-height: 36px;
	font-size: 16px;
}
.daoheng1-2{
	width: 1030px;
	height: 36px;
	/* background: blue; */
	float: right; 
	z-index: 999;
}
.daoheng1-3{
	padding-left: 16px;
	padding-right: 16px;
	float: left;
	position: relative;
	z-index: 100;
}


.he{
	width: 40px;
	height: 15px;
	/* background: pink; */
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	margin: auto;
	/* transition: all 1s ease; */
	z-index: -1;
	opacity: 0;
}
.he1{
 	width: 40px;
	height: 15px;
/* 	opacity: 0; */
	transition: all .15s ease;
}

.daoheng1-3:hover .he{
	top: -13px;
	opacity: 1;
}
.icondaoheng{
	font-family: 'iconfont';
	font-size: 16px;
	color: white;
}
.icondaoheng1{
	font-family: 'iconfont';
	font-size: 16px;
	color: white;
	line-height: 36px;
}
.cedaoheng{
	width: 100%;
	height: 500px;
	background: #E8E8E8;
}
.cedaoheng1{
	width: 1230px;
	height: 500px;
	background: #E8E8E8;
	margin: 0 auto;
	position: relative;
}

.banner{
			/* width: 1230px; */
			height: 500px;
			margin: 0 auto;
			
		}
		.banner-box li{
			/* width: 1230px; */
			height: 500px;
			background: red;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: all 1s;
		}
		.banner-box li.active{
			z-index: 2;
			opacity: 1;
		}
		.banner li a{
			display: block;
		}
		.banner li a img{
			display: block;
			width: 1230px;
			height: 500px;
		}
		.dian{
			width: 150px;
			height: 20px;
			/* background: blue; */
			position: absolute;
			right: 440px;
			bottom: 20px;
			z-index: 999;
		}
		.dian-box li{
			width: 18px;
			height: 18px;
			background: #bbb;
			border: 1px solid #000;
			transition: all 0.5s;
			float: left;
			margin-left: 10px;
			border-radius: 50%;
		}
		.dian-box li.active{
			background: #fff;
			opacity: 1;
		}
		.dian-box li:hover{
			background: #fff;
		}

.arrow{
	width: 30px;
	height: 60px;
	color:blue;
	position: absolute;
	top: 220px;
	font-size: 21px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	z-index: 999;
}
.arrow:hover{
	background: #ccc;
	color: #fff;
}
#prev{
	left: 200px;
}
#next{
	right: 0;
}

.cedaoheng1-1{	
	width: 200px;
	height: 500px;
	background: #EAE3E4;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.cedaoheng1-2{
	width: 200px;
	height: 31.19px;
	color: black;
}
.iconcedaoheng{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-2:hover{
	background: white;
}
.cedaoheng1-2:hover .iconcedaoheng {
	color: #E54077;
}
.cedaoheng1-2:hover .cedaoheng1-3 {
	color: #E54077;
}
.cedaoheng1-3{
	color: black;
}
.iconcedaoheng2{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-2{
	color: black;
}
.cedaoheng1-2:hover{
	background: white;
}
.cedaoheng1-2:hover .iconcedaoheng2 {
	color: #427DEF;
}
.cedaoheng1-2:hover .cedaoheng1-3-2 {
	color: #427DEF;
}
.iconcedaoheng3{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-3{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng3 {
	color: #6347ED;
}
.cedaoheng1-2:hover .cedaoheng1-3-3 {
	color: #6347ED;
}
.iconcedaoheng4{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-4{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng4 {
	color: #E54077;
}
.cedaoheng1-2:hover .cedaoheng1-3-4 {
	color: #E54077;
}
.iconcedaoheng5{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-5{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng5 {
	color: #6347ED;
}
.cedaoheng1-2:hover .cedaoheng1-3-5 {
	color: #6347ED;
}
.iconcedaoheng6{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-6{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng6 {
	color: #427DEF;
}
.cedaoheng1-2:hover .cedaoheng1-3-6 {
	color: #427DEF;
}
.iconcedaoheng7{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-7{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng7 {
	color: #FA5C5C;
}
.cedaoheng1-2:hover .cedaoheng1-3-7 {
	color: #FA5C5C;
}
.iconcedaoheng8{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-8{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng8 {
	color: #F7A831;
}
.cedaoheng1-2:hover .cedaoheng1-3-8 {
	color: #F7A831;
}
.iconcedaoheng9{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3-9{
	color: black;
}
.cedaoheng1-2:hover .iconcedaoheng9 {
	color: #F7A831;
}
.cedaoheng1-2:hover .cedaoheng1-3-9 {
	color: #F7A831;
}
.iconcedaohenga{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3a{
	color: black;
}
.cedaoheng1-2:hover .iconcedaohenga {
	color: #427DEF;
}
.cedaoheng1-2:hover .cedaoheng1-3a {
	color: #427DEF;
}
.iconcedaohengb{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3b{
	color: black;
}
.cedaoheng1-2:hover .iconcedaohengb {
	color: #DD2727;
}
.cedaoheng1-2:hover .cedaoheng1-3b {
	color: #DD2727;
}
.iconcedaohengc{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3c{
	color: black;
}
.cedaoheng1-2:hover .iconcedaohengc {
	color: #427DEF;
}
.cedaoheng1-2:hover .cedaoheng1-3c {
	color: #427DEF;
}
.iconcedaohengd{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3d{
	color: black;
}
.cedaoheng1-2:hover .iconcedaohengd {
	color: #F7A831;
}
.cedaoheng1-2:hover .cedaoheng1-3d {
	color: #F7A831;
}
.iconcedaohenge{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3e{
	color: black;
}
.cedaoheng1-2:hover .iconcedaohenge {
	color: #DF3737;
}
.cedaoheng1-2:hover .cedaoheng1-3e {
	color: #DF3737;
}
.iconcedaohengf{
	display: block;
	width: 200px;
	height: 31.19px;
	margin-left: 14px;
	font-family: 'iconfont';
	font-size: 14px;
	line-height: 31.19px;
	color: black;
}
.cedaoheng1-3f{
	color: black;
}
.cedaoheng1-2:hover .iconcedaohengf {
	color: #49CBB5;
}
.cedaoheng1-2:hover .cedaoheng1-3f {
	color: #49CBB5;
}

.pinpai{
	width: 1230px;
	height: 436px;
	/* background: red; */
	margin: 60px auto 0px;
}
.pinpai1-1{
	width: 488px;
	height: 436px;
	background: #050505;
	float: left;
}
.pinpai1-2{
	width: 731px;
	height: 108px;
	background: white;
	float: right;
}
.pipai1-3{
	width: 121px;
	height: 108px;
	background: white;
	float: left;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	position: relative;
	transition: all 0.5s;
}
.pipai1-3-1{
	width: 121px;
	height: 108px;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.pipai1-3:hover .pipai1-3-1{
	display: block; 
}
.pinpai1-4{
    /* margin-top: 30px;
    margin-left: 11px; */
}
.pinpai1-5{
	border-right: 0px solid #F5F5F5;
/* 	border-bottom: 0px solid #F5F5F5; */
}
/* .pinpai1-6{
	border-bottom: 0px solid #F5F5F5;
} */
.chaoliu{
	width: 1230px;
	height: 477px;
	background: red;
	margin: 30px auto 0px;
}
.chaoliu1-3{
	width: 238px;
	height: 477px;
	background: #ffffff;
	float: left;
}
.chaoliu1{
	width: 238px;
	height: 36px;
	background: red;
}
.chaoliu1-2{
	width: 200px;
	height: 1px;
	background: #EEEEEE;
	margin: 0 auto;
}
.iconchaoliu1{
	font-family: 'iconfont';
	display: block;
	width: 238px;
	height: 36px;
	font-size: 18px;
	line-height: 36px;
	color: white;
	text-align: center;
}
.chaoliu1-1{
	display: block;
	width: 238px;
	height: 200px;
	background: #ffffff;
	padding-top: 20px;
}
.chaoliu1-4{
	display: block;
	width: 238px;
	height: 24px;
	/* background: red; */
	font-size: 20px;
	text-align: center;
	color: black;
}
.chaoliu1-5{	
	display: block;
	width: 238px;
	height: 14px;
	/* background: red; */
	margin-top: 8px;
	font-size: 14px;
	text-align: center;
	color: #888888;
}
.chaoliu1-6{
	width: 140px;
	height: 140px;
	background: #F8F8F8;
	margin: 7px auto 0;
    position: relative;
    border-radius: 50%;
}
.chaoliu1-7{
	display: block;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	transition: all 1s;
}
.chaoliu1-7:hover{
	transform: scale(1.2, 1.2);
}
.chaoliu2-1{
	width: 238px;
	height: 477px;
	background: #ffffff;
	float: left;
	margin-left: 10px;
}
.guanghao1{
	display: block;
	width: 1230px;
	height: 90px;
	background: red;
	margin:10px auto 0;
}
.guanghao1-1{
	display: block;
	width: 1230px;
	height: 90px;
}
.meili{
	width: 1230px;
	height: 470px;
	/* background: blue; */
	margin: 30px auto 0;
}
.meili1-1{
	width: 1230px;
	height: 20px;
	/* background: red; */
}
.meili1{
	width: 5px;
	height: 20px;
	background: #EA5F8D;
	float: left;
}
.meili2{
	width: 72px;
	height: 18px;
	font-size: 18px;
	color: black;
	margin-left: 10px;
	float: left;
}
.meili3{
	width: 144px;
	height: 18px;
	font-size: 18px;
	color: black;
	margin-left: 10px;
	float: left;
}
.meili4{
	display: block;
	width: 246px;
	height: 440px;
	/* background: green; */
	float: left;
	margin-top: 10px;
	position: relative;
}
.meili4-1{
	display: block;
	width: 246px;
	height: 330px;
/* 	float: left; */
}
.meili4-1-1{
	width: 246px;
	height: 330px;
	background: linen;
}
.meili4-1-1:hover .meili4-5{
	display: block;
}
.meili4-5{
	position: absolute;
	top: 0;
	left: 0;
	width: 246px;
	height: 330px;
	background: white;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}
.meili4-2{
	width: 246px;
	height: 90px;
	background:skyblue;
/* 	float: left; */
	padding-top: 20px;
}
.meili4-3{
	display: block;
	width: 246px;
	height: 33px;
	background: red;
/* 	margin-top: 20px; */
	text-align: center;
	font-size: 24px;
	line-height: 33px;
	color: white;
}
.meili4-4{
	display: block;
	width: 246px;
	height: 27px;
	background: red;
	margin-top: 5px;
	text-align: center;
	font-size: 18px;
	line-height: 33px;
	color: white;
}
.meili5{
	width: 735px;
	height: 440px;
	background: greenyellow;
	float: left;
	margin-top: 10px;
}
/* .meili5-1{
	width: 735px;
	height: 440px;
	background: greenyellow;
} */
.meili5-2{
	display: block;
	width: 244px;
	height: 220px;
	background: white;
	border-right: 1px solid orange;
	border-bottom: 1px solid orange;
	float: left;
	position: relative;
}
.meili5-6{
	border-bottom: 0px solid orange;
}
.meili5-3{
	width: 220px;
	height: 24px;
	/* background: red; */
	float: right;
	margin-top: 25px;
	font-size: 18px;
	line-height: 24px;
	color: black;
}
.meili5-4{
	width: 220px;
	height: 18px;
	/* background: red; */
	float: right;
	margin-top: 8px;
	font-size: 14px;
	line-height: 18px;
	color: #F1A08D;
	z-index: 99;
	position: relative;
}
.meili5-5{
	width: 154px;
	height: 154px;
	/* background: greenyellow; */
	position: absolute;
	right: 0;
	top: 66px;
	z-index: 0;
}
.meili5-2:hover .meili5-5{
	transform: translateX(-2px);
}
.meili6{
	width: 249px;
	height: 440px;
	/* background: red; */
	float: left;
	margin-top: 10px;
}
.meili6-1{
	display: block;
	width: 249px;
	height: 146px;
	/* background: blue; */
	position: relative;
	border-bottom: 1px solid orange;
}
.meili6-5{
	padding-bottom: 1px;
	border-bottom: 1px solid white;
}
.meili6-2{
	width: 220px;
	height: 24px;
	float: right;
	margin-top: 25px;
	font-size: 18px;
	line-height: 24px;
	color: black;
}
.meili6-3{
	width: 220px;
	height: 18px;
	/* background: red; */
	float: right;
	margin-top: 8px;
	font-size: 14px;
	line-height: 18px;
	color: #F1A08D;
	z-index: 99;
	position: relative;
}
.meili6-4{
	width: 100px;
	height: 100px;
	/* background: greenyellow; */
	position: absolute;
	right: 0;
	top: 46px;
	z-index: 0;
}
.meili6-1:hover .meili6-4{
	transform: translateX(-2px);
}
.chaodian{
	width: 1230px;
	height: 470px;
	background: #ffffff;
	margin: 30px auto 0;
}
.chaodian1{
	width: 230px;
	height: 20px;
	background: #ffffff;
}
.chaodian1-1{
	width: 5px;
	height: 20px;
	background: #0AA6E8;
}
.chaodian1{
	width: 1230px;
	height: 20px;
	/* background: red; */
}
.chaodian1-1{
	width: 5px;
	height: 20px;
	background: #0AA6E8;
	float: left;
}
.chaodian1-2{
	width: 72px;
	height: 18px;
	font-size: 18px;
	color: black;
	margin-left: 10px;
	float: left;
}
.chaodian1-3{
	width: 144px;
	height: 18px;
	font-size: 18px;
	color: black;
	margin-left: 10px;
	float: left;
}
.chaoliu3{
	width: 735px;
	height: 440px;
	background: green;
	float: left;
	margin-top: 10px;
}
.chaoliu3-1{
	display: block;
	width: 489px;
	height: 220px;
	background: white;
	border-right: 1px solid orange;
	border-bottom: 1px solid orange;
	float: left;
	position: relative;
}
.chaoliu3-2{
	display: block;
	width: 260px;
	height: 24px;
	/* background: red; */
	margin-top: 45px;
	margin-left: 45px;
	font-size: 24px;
    line-height: 24px;
    color: black;
}
.chaoliu3-3{
	display: block;
	width: 260px;
	height: 18px;
	/* background: red; */
	margin-top: 35px;
	margin-left: 45px;
    font-size: 16px;
    line-height: 18px;
    color: #0AA6E8;
}
.chaoliu3-5{
	width: 195px;
	height: 195px;
	/* background: greenyellow; */
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 0;
}
.chaoliu3-1:hover .chaoliu3-5{
	transform: translateX(-2px);
}
.chaoliu4{
	width: 249px;
	height: 440px;
	background: white;
	float: left;
	margin-top: 10px;
}
.chaoliu4-1{
	border-right: 0;
}
.aichao6-1{
	display: block;
	width: 249px;
	height: 109.5px;
	/* background: blue; */
	position: relative;
	border-bottom: 1px solid orange;
}
.aichao6-5{
	padding-bottom: 1px;
	border-bottom: 0px solid white;
}
.meili6-2{
	width: 220px;
	height: 24px;
	float: right;
	margin-top: 25px;
	font-size: 18px;
	line-height: 24px;
	color: black;
}
.meili6-3{
	width: 220px;
	height: 18px;
	/* background: red; */
	float: right;
	margin-top: 8px;
	font-size: 14px;
	line-height: 18px;
	color: #F1A08D;
	z-index: 99;
	position: relative;
}
.aichao6-4{
	width: 109px;
	height: 109px;
	background: greenyellow;
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 0;
	transition: all 1s;
}
.aichao6-1:hover .aichao6-4{
	transform: translateX(-2px);
}
.huwai1{
	width: 189px;
	height: 18px;
	font-size: 18px;
	color: black;
	margin-left: 10px;
	float: left;
}
.huwai2{
	width: 410px;
	height: 31px;
	background: red;
	margin-right: 0
}
.huwai1-1{
	width: 1230px;
	height: 20px;
	/* background: red; */
	float: left;
}
.huwai2-1{
	display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: none;
}    
.huwai1-2{
	width: 1230px;
	height: 20px;
	/* background: red; */
}
#xh{
	width: 1230px;
	height: 709px;
	background-color: gold;
	margin: 0 auto;
	margin-top: 30px;
}
.xh-top{
	width: 1230px;
	height: 43px;
	background-color: #f5f5f5;
	
}
.xh-top-2{
	width: 170px;
	height: 43px;
	background-color: #f5f5f5;
	margin: 0 auto;
	line-height: 43px;
}
.xh-top i{
	font-size: 20px;
	color: #ff0036;
	font-weight: lighter;
	float: left;
	margin-right: 10px;
	text-align: center;

}
.xh-top h1{
	font-size: 20px;
	color: #333;
	font-weight: lighter;
	float: left;

}
.xh-un{
	width: 1230px;
	height: 666px;
	background-color: #f5f5f5;

}
.xh-1{
	width: 239px;
	height: 319px;
	background-color: #ffffff;
	float: left;
	margin-right: 8px;
	margin-bottom: 12px;
}
.xh-1-img{
	width: 239px;
	height: 228px;
	background-color: #ffffff;

}
.xh-1-un{
	width: 216px;
	height: 69px;
	padding: 14px 12px 8px;
	background-color: #ffffff;

}
.xh-1-un h1{
	font-size: 12px;
	color: #666;
	font-weight: lighter;

}
.xh-1-un i{
	font-size: 14px;
	color: #ff0036;
	font-weight: bold;
	float: left;

}
.xh-1-un h2{
	font-size: 14px;
	color: #ff0036;
	font-weight: bold;
	float: left;
	
}
.xh-12{
	margin-right: 0px;
}
#jieshu{
	width: 100%;
	height: 563px;
	background-color: #ffffff;
	margin: 0 auto;
	border-top: 1px #d1d7dc solid;
}
.js-nk{
	width: 1190px;
	height: 363px;
	background-color: seagreen;
	margin: 0 auto;
}
.js-nk-s{
	width: 1190px;
	height: 100px;
	background-color: #ffffff;
	padding: 25px 0px;
}
.js-nk-s-1{
	width: 257px;
	height: 100px;
	background-color: #ffffff;
	float: left;
	padding-left: 40px;
}
.js-nk-s-1 i{
	font-size: 70px;
	font-weight: bold;
	color: #fa033a;
	float: left;
	line-height: 100px;
}
.js-nk-s-1 h1{
	font-size: 22px;
	font-weight: bold;
	color: #000;
	margin-top: 25px;
}
.js-nk-s-1 h2{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	margin-top: 1px;
}
.js-nk-zj{
	width: 1190px;
	height: 190px;
	background-color: #ffffff;
	padding-top: 22px;
	border-top: 1px #333 solid;
}
.js-nk-zj-1{
	width: 186px;
	height: 90px;
	background-color: #ffffff;
	float: left;
	padding-left: 52px;
}
.js-nk-zj-1 h1{
	font-size: 16px;
	font-weight: bold;
	color: #646464;
	line-height: 30px;
}
.js-nk-zj-1 h2{
	font-size: 12px;
	font-weight: bold;
	color: #8b8b8b;	
}
.erweima-img{
	width: 105px;
	height: 105px;
	background-color: pink;	
}
.weibu{
    width: 100%;
    height: 198px;
    background-color: black;
}
.weibu-box{
    width: 100%;
    height: 200px;
    background-color: black;
    margin:0 auto;
    padding-left: 79px;
}
.wb-zi{
    height: 12px;
    background-color: black;
    padding-top: 12px;
}
.wb-zi a{
	color: #fff;
}
.wb-zi1{
    font-size: 12px;
    color: #ffffff;
    font-family: "苹方";
    line-height: 12px;
    float: left;
    margin-left: 7px;
}
.wb-zi .zi2{
    margin-left: 0;
}
.wb-zi2{
    height: 12px;
    margin-top: 24px;
}
.wb-zi2 a{
	color: #fff;
}
.wb-zi1-1{
    font-size: 12px;
    color: #fff;
    font-family: "苹方";
    border-right: 1px #fff solid;
    line-height: 12px;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}
.wb-zi2 .zi4{
    padding-left: 0;
}
.wb-zi2 .zi5{
    border-right:0;
}
.wb-zi3	{
    width: 750px;
    height: 59px;
    background-color: black;
}
.wb-zi3-1{
    font-size: 12px;
    font-family: "苹方";
    color: #e0e0e0;
    line-height: 12px;
    float: left;
    margin-left: 40px;
    margin-top: 18px;
}
.wb-zi3 .zi1{
    margin-left:0;
}
.wb-zi4{
    font-size: 12px;
    color: #576868;
    font-family: "苹方";
    line-height: 12px;
    margin-top: 9px;
}
